@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 5%;
    --foreground: 0 0% 98%;
  }

  body {
    @apply bg-zinc-950 text-zinc-50;
  }
}

@layer utilities {
  .gradient-brand {
    background: linear-gradient(135deg, #ff1a64 0%, #ff8c00 100%);
  }
}
